#{if play.mode.isDev()}
<script type="text/javascript" charset="utf-8">
  //TODO: path problems
  $(function(){
      var socket = new WebSocket('@@{devsocket.WatchStatic.watch}');
      socket.onmessage = function(e){
        Array.prototype.slice.call(document.querySelectorAll('link[href*="' + e.data + '"]'),0).forEach(function(el){
          var h = el.href.replace(/(&|%5C?)forceReload=\d+/,'')
          var h2 = h + ( h.indexOf('?') >= 0 ? '&' : '?' ) + 'forceReload=' + new Date().getTime()
          el.href = h2
        })
      }; 
      socket.onerror = function(e){
          console.error(e)
      }; 
      socket.onclose = function(){
          console.log('closed')
      }  
  })
</script>
#{/if}